div {	animation: disco1 1000ms infinite alternate; }
@keyframes disco1 {
	0% {
		background: #7bf927;
	}
	20% {
		background: #e41ed8;
	}
	40% {
		background: #ece914;
	}
	60% {
		background:#3434ff;
	}
	80% {
		background: #11d8df;
	}
	100% {
		background: #7bf927;		

	}
}

@keyframes disco2 {
	0% {
		background: #ece914;
	}
	20% {
		background:#f92727;
	}
	40% {
		background:#3434ff;
	}
	60% {
		background: #7bf927;
	}
	80% {
		background: #11d8df;
	}
	100% {		
		background: #e41ed8;
	}
}
